.menuPaper{
    background-color: #121212;
}
.MenuContainer{
    background-color: #121212;
}
.MenuCheckbox{
    color: white;
}
.MenuItem{
    background-color: #121212;
    color: white;
}
.menuPaper{
        background-color: #121212;
    }
.MenuItem:hover{
    background-color: #000000;
}


