.App-header {
  background-color: #121212;
  padding-top: 1vh;
  min-height: 99vh;
  height:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

#App-h1{
  text-align: center;
}

.App-content{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
